<style>
    body {
      text-align: center;
      font-family: sans-serif;
      margin: 0;
      padding: 0;
    }

    section {
      display: none; 
      padding: 50px 20px;
    }

    section.active {
      display: block; /
    }

    button {
      background-color: #FCFACF;
      color: #1A4C63;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
    }
  button:hover {
      background-color: #ECD0DE;
    }
    
    img {
      margin-top: 40px;
      width: 100px;
    }
  h1, h2, h3, h4, h5, h6 {
  font-size: 26px;           
  font-weight: 500;          
  color: #1A4C63;          
  margin-top: 50px;      
  margin-bottom: 20px;     
  font-family: 'Poppins';
  text-align: center;     
  letter-spacing: 0.5px;
  display: flex;

  }

 p {
      font-size: 16px;
      line-height: 1.6;
      max-width: 600px;
      margin: 0 auto 40px;
      color: #5F8292;
    }


#inicio{
  background: radial-gradient(49.17% 371.08% at 50.13% 50.95%, #f3e596c6 0%, #FFFFFF 95.67%);
}


#cuaderno {
  
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  align-items: center;
  background: radial-gradient(49.17% 371.08% at 50.13% 50.95%, #DFD8E8 0%, #FFFFFF 95.67%)
}

#cuaderno > div {
  flex: 0 0 100vw;             
  scroll-snap-align: center;    
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: column;     
  justify-content: center;       
  align-items: center;          
}


#cuaderno p {
  max-width: 600px;          
  text-align: justify;
  white-space: normal;           
  font-size: 16px;
  font-family: 'League Script', cursive;
  font-style: normal;
  line-height: 1.6;
  color: #5F8292;
}


#cuaderno button {
  margin-top: 20px;
}
